.anchor-pane {
    -fx-background-color: linear-gradient(to bottom, #5032F2, #00BF8F);
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent linear-gradient(to bottom, #5032F2, #00BF8F) transparent linear-gradient(to bottom, #5032F2, #00BF8F);
    -fx-background-color: transparent, linear-gradient(to bottom, #5032F2, #00BF8F);
}

.anchor-pane-conteudo-externo {
    -fx-background-color: #efefef;
}

.anchor-pane-conteudo-interno {
    -fx-background-color: white;
}

.menubar {
    -fx-background-color: #4D4D4D;
}

.botao-sair {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.botao-sair:hover {
    -fx-background-color: #5032F2;
}

.list-view {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
}